footer {
  padding: 0rem 2rem;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  margin:0;
}

a{
  font-size: large;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 0;
}

.brand span {
  color: #016d2e;
}

.footer-links {
  display: flex;
  align-items: center;       
  gap: 1.5rem;
  // margin-top: 3rem;

}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #016d2e;
}