# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django SQLite database
db.sqlite3

# Logs
*.log

# Django static and media folders
static/
media/

# Django migrations (keep init, ignore others)
*/migrations/*.py
!*/migrations/__init__.py

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Docker
*.pid
*.seed
*.bak
*.swp
*.tmp
docker-compose.override.yml

# PostgreSQL data volume (never commit your DB data!)
postgres_data/

# VS Code
.vscode/

# macOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.mocha
*.nyc_output/

# Others
*.swo
*.swp

# IDE
.idea/
*.iml
*.sublime-project
*.sublime-workspace