Django==5.0.6
asgiref==3.10.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.8.0
channels==4.0.0
daphne==4.0.0
sqlparse==0.5.3
psycopg2-binary==2.9.10
Authlib==1.6.5
PyJWT==2.10.1
cryptography==46.0.3
google-auth==2.43.0
drf-yasg==1.21.11
httpx==0.28.1
requests==2.32.5
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
ollama==0.6.0
weaviate-client==4.18.0
llama-index-core==0.14.8
llama-index-llms-ollama==0.9.0
llama-index-embeddings-ollama==0.8.4
llama-index-vector-stores-weaviate==1.4.1
dataclasses-json==0.6.7
pydantic==2.12.4
typing_extensions==4.15.0
PyYAML==6.0.3