Django
asgiref
djangorestframework
djangorestframework_simplejwt
django-cors-headers
channels
daphne
sqlparse
psycopg2-binary
Authlib
PyJWT
cryptography
google-auth
drf-yasg
httpx
requests
python-dateutil
pytz
tzdata
ollama
weaviate-client
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-weaviate
dataclasses-json
pydantic
typing_extensions
PyYAML
whitenoise
gunicorn
dj-database-url