.header-top {
  padding: 15px 50px;
  background-color: #fff;
}


.logo {
  font-size: 2.5em; 
  font-weight: bold;
  color: #000; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-size: large;
  transition: color 0.3s ease;
}

.nav-list a.active {
  color: #01451d; 
  font-weight: 600;
}

h1{
  color: #01451d;
}

.login-btn {
  background-color: #01451d;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #66BB6A;
}