<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MUNAY BOLIVIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="slideshow-container">
        <img class="slide" src="{{ url_for('static', filename='images/teleferico.jpg') }}" alt="Teleférico">
        <img class="slide" src="{{ url_for('static', filename='images/sucre.jpg') }}" alt="Sucre">
        <img class="slide" src="{{ url_for('static', filename='images/lapaz.jpg') }}" alt="Centro de La Paz">
    </div>
    <h1>Munay Bolivia ChatBot</h1>
    <div class="container">
        <form id="chat-form">
            <label for="prompt">Escribe tu pregunta:</label><br>
            <textarea id="prompt" name="prompt" class="chatbox" rows="4" required></textarea><br>
            <div class="form-buttons">
                <button type="submit">Enviar</button>
                <button type="button" id="nuevo-pregunta">Nueva Pregunta</button>
            </div>
        </form>
        <div class="respuesta" id="respuesta"></div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='carrusel.js') }}"></script>
</body>
</html>