<div class="hotel-detalle-container">
  <ng-container *ngIf="error">
    <div class="estado error">{{ error }}</div>
  </ng-container>
  <ng-container *ngIf="hotel && !error">
    <div class="hotel-card">
      <div class="hotel-img-box">
        <img *ngIf="hotel.url_imagen_hotel; else noImg"
             [src]="hotel.url_imagen_hotel"
             alt="Imagen de {{ hotel.nombre }}"
             (error)="hotel.url_imagen_hotel = 'assets/no-image.svg'" />
        <ng-template #noImg>
          <img src="assets/no-image.svg" alt="Imagen no disponible" />
        </ng-template>
      </div>
      <div class="hotel-info">
        <h1>{{ hotel.nombre }}</h1>
        <div class="meta">
          <span><b>Departamento:</b> {{ hotel.departamento }}</span>
          <span><b>Ubicación:</b> {{ hotel.ubicacion }}</span>
        </div>
        <div class="meta">
          <span><b>Calificación:</b> {{ hotel.calificacion }}/10</span>
          <span *ngIf="hotel.estado" class="estado-hotel activo">Activo</span>
          <span *ngIf="!hotel.estado" class="estado-hotel inactivo">Inactivo</span>
        </div>
        <div class="fecha-creacion">
          <b>Fecha de creación:</b> {{ hotel.fecha_creacion | date:'longDate' }}
        </div>
      </div>
    </div>
  </ng-container>
</div>
<h2>Habitaciones del {{hotel?.nombre}}</h2>
<div class="estado">
  <div *ngIf="cargandoHabitaciones">Cargando habitaciones del hotel...</div>
  <div *ngIf="errorHabitaciones" class="error">{{ errorHabitaciones }}</div>
  <div *ngIf="!cargandoHabitaciones && habitaciones.length === 0 && !errorHabitaciones">No hay habitaciones añadidas a este hotel</div>
</div>

<section class="lista-habitaciones">
  <div *ngFor="let habitacion of habitaciones" class="habitacion-card">
    <div class="card-left">
      <h3>Habitación #{{ habitacion.num }}</h3>
      <p class="descripcion">{{ habitacion.caracteristicas }}</p>
      <ul class="meta">
        <li class="meta-item">
          <span class="status-dot" [class.disponible]="habitacion.disponible"
                [class.no-disponible]="!habitacion.disponible"></span>
          {{ habitacion.disponible ? 'Disponible' : 'No disponible' }}
        </li>
        <li class="meta-item">
          <span class="material-symbols-outlined">hotel</span>
          Hotel: {{ habitacion.codigo_hotel }}
        </li>
        <li class="meta-item">
          <span class="material-symbols-outlined">group</span>
          {{ habitacion.cant_huespedes }} Huéspedes
        </li>
        <li class="meta-item">
          <span class="material-symbols-outlined">payments</span>
          {{ habitacion.precio | number:'1.2-2' }} BOB
        </li>
      </ul>
    </div>
    <div class="card-right">
      <a class="btn btn-primary" [routerLink]="['/habitaciones', habitacion.num]">Ver Detalle</a>
    </div>
  </div>
</section>
